DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.zickrkvvpptchymushfb
DB_PASSWORD=
DB_NAME=postgres
DB_SSLMODE=require
SUPABASE_URL=https://zickrkvvpptchymushfb.supabase.co
SUPABASE_SERVICE_KEY=
JWT_SECRET=
